bakk/SSD/zusatz.xsd

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.dbai.tuwien.ac.at/software/"
  elementFormDefault="qualified" >

  <xs:complexType name="BeschreibungTyp" mixed="true">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="schlagwort" minOccurs="0" maxOccurs="1" />
      <xs:element name="index" minOccurs="1" maxOccurs="1" />
    </xs:choice>
  </xs:complexType>
  
</xs:schema>