master/AIC/OrderProcessBPEL/src/localhost_9000/shippingservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ShippingService" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addresses" type="tns:addresses" />
<xs:element name="item" type="tns:item" />
<xs:element name="product" type="tns:product" />
<xs:element name="ship_items" type="tns:ship_items" />
<xs:element name="ship_itemsResponse" type="tns:ship_itemsResponse" />
<xs:complexType name="ship_items">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:item" />
<xs:element minOccurs="0" name="address" type="tns:addresses" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element minOccurs="0" name="product" type="tns:product" />
<xs:element name="quantity" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="addresses">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string" />
<xs:element name="door" type="xs:int" />
<xs:element name="house" type="xs:int" />
<xs:element name="isBilling" type="xs:boolean" />
<xs:element name="isOther" type="xs:boolean" />
<xs:element name="isShipping" type="xs:boolean" />
<xs:element minOccurs="0" name="street" type="xs:string" />
<xs:element minOccurs="0" name="zipCode" type="xs:string" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="ship_itemsResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="shippingShipItemsResult" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="UnknownAddressFault" type="tns:UnknownAddressFault" />
<xs:complexType name="UnknownAddressFault">
<xs:sequence>
<xs:element name="faultCode" nillable="true" type="xs:string" />
<xs:element name="faultActor" nillable="true" type="xs:string" />
<xs:element name="faultString" nillable="true" type="xs:string" />
<xs:element name="faultNode" nillable="true" type="xs:string" />
<xs:element name="faultRole" nillable="true" type="xs:string" />
<xs:element name="elementQName" nillable="true" type="xs:QName" />
<xs:element name="encodingStyle" nillable="true" type="xs:string" />
<xs:element name="value" nillable="true" type="xs:string" />
<xs:element name="nodeValue" nillable="true" type="xs:string" />
<xs:element name="prefix" nillable="true" type="xs:string" />
<xs:element name="textContent" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="UnknownProductFault" type="tns:UnknownProductFault" />
<xs:complexType name="UnknownProductFault">
<xs:sequence>
<xs:element name="faultCode" nillable="true" type="xs:string" />
<xs:element name="faultActor" nillable="true" type="xs:string" />
<xs:element name="faultString" nillable="true" type="xs:string" />
<xs:element name="faultNode" nillable="true" type="xs:string" />
<xs:element name="faultRole" nillable="true" type="xs:string" />
<xs:element name="elementQName" nillable="true" type="xs:QName" />
<xs:element name="encodingStyle" nillable="true" type="xs:string" />
<xs:element name="value" nillable="true" type="xs:string" />
<xs:element name="nodeValue" nillable="true" type="xs:string" />
<xs:element name="prefix" nillable="true" type="xs:string" />
<xs:element name="textContent" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="UnknownProductFault">
    <wsdl:part element="tns:UnknownProductFault" name="UnknownProductFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownAddressFault">
    <wsdl:part element="tns:UnknownAddressFault" name="UnknownAddressFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_itemsResponse">
    <wsdl:part element="tns:ship_itemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_items">
    <wsdl:part element="tns:ship_items" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShippingService">
    <wsdl:operation name="ship_items">
      <wsdl:input message="tns:ship_items" name="ship_items">
    </wsdl:input>
      <wsdl:output message="tns:ship_itemsResponse" name="ship_itemsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownAddressFault" name="UnknownAddressFault">
    </wsdl:fault>
      <wsdl:fault message="tns:UnknownProductFault" name="UnknownProductFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceSoapBinding" type="tns:ShippingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ship_items">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ship_items">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ship_itemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnknownAddressFault">
        <soap:fault name="UnknownAddressFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UnknownProductFault">
        <soap:fault name="UnknownProductFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingService">
    <wsdl:port binding="tns:ShippingServiceSoapBinding" name="ShippingPT">
      <soap:address location="http://localhost:9000/shippingservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>